<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button id="button">button</button>
</body>
</html>

<script>

  const Button = document.getElementById('button')

  // 创建
  const evt = document.createEvent("HTMLEvents");
  // 初始化
  evt.initEvent("scroll", false, false);



  Button.addEventListener('click', (e) => {
    e.preventDefault()
    e.stopPropagation()

    window.dispatchEvent(evt);
    
  }, false)

</script>